/* Mobile & tablet */
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    .hero__heading {
        line-height: 5rem;
    }

    .hero__desc {
        line-height: 2.4rem;
    }
}

/* Tablet */
@media (min-width:740px) and (max-width: 1023px) {

    .hide-on-tablet {
        display: none;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }

    .features__row {
        display: flex;
        gap: 2rem;
    }
}