/* Mobile & tablet */
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }
}

/* Tablet */
@media (min-width:740px) and (max-width: 1023px) {

    .hide-on-tablet {
        display: none;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }

    /* Product Detail */
    .product-info {
        padding-left: 0;
        margin-top: 20px;
    }

    .product-detail-container {
        padding: 20px;
    }
}